@font-face {
    font-family: 'Inter';
    src: url('../assets/fonts/Inter-Regular.woff2') format('woff2');
    font-weight: normal;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: 'Inter';
    src: url('../assets/fonts/Inter-Italic.woff2') format('woff2');
    font-weight: normal;
    font-style: italic;
    font-display: swap;
}

@font-face {
    font-family: 'Inter';
    src: url('../assets/fonts/Inter-Bold.woff2') format('woff2');
    font-weight: bold;
    font-style: normal;
    font-display: swap;
}

:root {
    --transition-duration: 0.2s;
    /* fonts */
    --font-family-base: 'Inter', sans-serif;
    --fs-heading-1: 72px;
    --fs-heading-1-mob: 42px;
    --fw-heading-1: 600;
    --lh-heading-1: 1.05;
    --lh-heading-1-mob: 1.15;
    --fs-heading-2: 60px;
    --fs-heading-2-mob: 32px;
    --fw-heading-2: 600;
    --lh-heading-2: 1.25;
    --lh-heading-2-mob: 1.25;
    --fs-heading-3: 24px;
    --fw-heading-3: 600;
    --lh-heading-3: 1.25;
    --fs-body-medium: 16px;
    --fw-body-medium: 400;
    --lh-body-medium: 1.50;
    --fs-body-caption: 10px;
    --fw-body-caption: 600;
    --lh-body-caption: 1.40;
    --fs-action-link: 16px;
    --fw-action-link: 600;
    --lh-action-link: 1.50;
    --fs-action-burger-link: 32px;
    --fw-action-burger-link: 600;
    --lh-action-burger-link: 1.25;
    /* Colors */
    --color-bg: #B6AEA7;
    /* light theme */
    --color-text-primary: #403F3D;
    --color-text-inverse: #E1D4C9;
    --color-text-accent: #B0907A;
    --color-bg-page: #E1D4C9;
    --color-bg-container: #665F55;
    --color-bg-overlay: #403F3D80;
    --color-border-primary: #C1B6AD;
    --color-border-inverse: #665F55;
}

[data-theme="dark"] {
    --color-text-primary: #E1D4C9;
    --color-text-inverse: #E1D4C9;
    --color-text-accent: #B0907A;
    --color-bg-page: #292826;
    --color-bg-container: #403F3D;
    --color-bg-overlay: #29282680;
    --color-border-primary: #665F55;
    --color-border-inverse: #C1B6AD;
}

/* Fonts sizes */
.accent {
    font-style: italic;
}

.heading-1 {
    font-family: var(--font-family-base);
    font-size: var(--fs-heading-1);
    font-weight: var(--fw-heading-1);
    line-height: var(--lh-heading-1);
    margin: 0;
}

.heading-2 {
    font-family: var(--font-family-base);
    font-size: var(--fs-heading-2);
    font-weight: var(--fw-heading-2);
    line-height: var(--lh-heading-2);
    margin: 0;
}

.heading-3 {
    font-family: var(--font-family-base);
    font-size: var(--fs-heading-3);
    font-weight: var(--fw-heading-3);
    line-height: var(--lh-heading-3);
    margin: 0;
}

.body-medium {
    font-family: var(--font-family-base);
    font-size: var(--fs-body-medium);
    font-weight: var(--fw-body-medium);
    line-height: var(--lh-body-medium);
}

.body-caption {
    font-family: var(--font-family-base);
    font-size: var(--fs-body-caption);
    font-weight: var(--fw-body-caption);
    line-height: var(--lh-body-caption);
}

.action-link {
    font-family: var(--font-family-base);
    font-size: var(--fs-action-link);
    font-weight: var(--fw-action-link);
    line-height: var(--lh-action-link);
}

.action-burger-link {
    font-family: var(--font-family-base);
    font-size: var(--fs-action-burger-link);
    font-weight: var(--fw-action-burger-link);
    line-height: var(--lh-action-burger-link);
}

@media (max-width: 380px) {
    .heading-1 {
        font-size: var(--fs-heading-1-mob);
        line-height: var(--lh-heading-1-mob);
    }

    .heading-2 {
        font-size: var(--fs-heading-2-mob);
        line-height: var(--lh-heading-2-mob);
    }
}

/* base page styles */
html {
    scroll-behavior: smooth;
    scroll-padding-top: 100px;
    background-color: var(--color-bg);
}

body {
    font-family: var(--font-family-base);
    font-size: var(--fs-body-medium);
    font-weight: var(--fw-body-medium);
    line-height: var(--lh-body-medium);
    color: var(--color-text-primary);
    background-color: var(--color-bg-page);
    margin: 0 auto;
    padding-bottom: 40px;
    max-width: 1440px;
    min-height: 100vh;
    box-shadow: 0 0 20px rgba(0, 0, 0, 0.15);
}

a,
button,
input,
textarea,
svg * {
    transition-duration: var(--transition-duration);
}

a {
    color: var(--color-text-primary);
    text-decoration: none;
    text-wrap: nowrap;
}

a:hover {
    color: var(--color-text-accent);
}

button {
    cursor: pointer;
}

.button-primary {
    display: inline-flex;
    align-items: center;
    justify-content: center;
    height: 64px;
    color: var(--color-text-primary);
    background-color: var(--color-border-primary);
    border: none;
    border-radius: 32px;
}

.button-secondary {
    display: inline-flex;
    align-items: center;
    justify-content: center;
    height: 44px;
    background-color: transparent;
    border: 1px solid var(--color-border-primary);
    border-radius: 50%;
}

.button-app-store {
    display: inline-flex;
    align-items: center;
    justify-content: center;
    height: 64px;
    background-color: var(--color-bg-page);
}

.button-google-play {
    display: inline-flex;
    align-items: center;
    justify-content: center;
    height: 64px;
    background-color: var(--color-bg-page);
}

.button-slider {
    display: inline-flex;
    align-items: center;
    justify-content: center;
    width: 60px;
    height: 60px;
    color: var(--color-text-primary);
    background-color: transparent;
    border: 1px solid var(--color-border-inverse);
    border-radius: 50%;
}

.button-slider:hover {
    color: var(--color-text-inverse);
    background-color: var(--color-bg-container);
    border: 1px solid transparent;
}

.button-social {
    display: inline-flex;
    align-items: center;
    justify-content: center;
    height: 64px;
    background-color: var(--color-bg-page);
}

.button-icon-burger {
    display: inline-flex;
    align-items: center;
    justify-content: center;
    width: 44px;
    height: 44px;
    background-color: transparent;
    border: 1px solid var(--color-border-inverse);
    border-radius: 50%;
}

/* Theme header styles */

.header {
    display: flex;
    align-items: center;
    gap: 24px;
    height: 60px;
    box-sizing: content-box;
    padding: 20px 40px;
    position: sticky;
    top: 0;
    z-index: 200;
    background-color: var(--color-bg-page);
}

.nav {
    flex: 1;
    container-type: inline-size;
}

.nav-list {
    display: flex;
    justify-content: center;
    align-items: center;
    list-style-type: none;
    column-gap: clamp(10px, 4.44cqi, 40px);
    padding-left: 0;
}

.nav-list-item {
    padding: 10px 0;
}

@media (max-width: 768px) {
    .nav-list {
        display: none;
    }
}

.header-logo-dark {
    display: none;
}

[data-theme="dark"] .header-logo-light {
    display: none;
}

[data-theme="dark"] .header-logo-dark {
    display: block;
}

.theme-switch {
    display: inline-flex;
    align-items: center;
    justify-content: center;
    gap: 8px;
    padding: 0px 3px;
    height: 44px;
    background-color: transparent;
    border: 1px solid var(--color-border-primary);
    border-radius: 22px;
}

.theme-switch-icon-light {
    display: inline-flex;
    align-items: center;
    justify-content: center;
    width: 36px;
    height: 36px;
    color: var(--color-text-inverse);
    background-color: var(--color-text-accent);
    border-radius: 50%;
}

.theme-switch-icon-dark {
    display: inline-flex;
    align-items: center;
    justify-content: center;
    width: 36px;
    height: 36px;
    color: var(--color-text-primary);
    background-color: transparent;
    border-radius: 50%;
}

.theme-switch:hover .theme-switch-icon-dark {
    color: var(--color-text-inverse);
    background-color: var(--color-border-inverse);
}

[data-theme="dark"] .theme-switch-icon-light {
    background-color: transparent;
}

[data-theme="dark"] .theme-switch-icon-dark {
    background-color: var(--color-text-accent);
}

[data-theme="dark"] .theme-switch:hover .theme-switch-icon-light {
    background-color: var(--color-border-inverse);
}

[data-theme="dark"] .theme-switch:hover .theme-switch-icon-dark {
    background-color: var(--color-text-accent);
}

.header-menu-link {
    display: flex;
    align-items: flex-start;
    gap: 8px;
    border-bottom: 1px solid transparent;
}

.header-menu-link:hover {
    border-bottom: 1px solid var(--color-text-accent);
}

.header-menu-burger {
    display: none;
}

@media (max-width: 768px) {
    .header-menu-link {
        display: none;
    }

    .header-menu-burger {
        display: block;
    }
}

/* Main page styles */
.main {
    display: flex;
    flex-direction: column;
    gap: 100px;
    margin-bottom: 100px;
    padding: 0 40px;
}

/* Hero section styles */
.hero {
    position: relative;
    width: 100%;
    height: 100%;
    border: none;
    overflow: hidden;
}

.hero-video {
    display: block;
    object-fit: cover;
    width: 100%;
    height: 644px;
    border-radius: 40px;
}

.hero-text {
    position: absolute;
    top: 100px;
    left: 100px;
    width: 530px;
    display: flex;
    flex-direction: column;
    gap: 40px;
    color: var(--color-text-inverse);
}

.hero-text .accent {
    color: var(--color-text-accent);
}

.hero-text-button {
    width: 200px;
}

@media (max-width: 768px) {
    .hero-text {
        left: 60px;
    }
}

@media (max-width: 380px) {
    .main {
        padding: 0 16px;
    }

    .hero-video {
        height: 552px;
    }

    .hero-text {
        top: 60px;
        left: 16px;
        width: 316px;
    }
}

/* Slider section styles */
.slider-wrapper {
    display: flex;
    flex-direction: column;
    justify-content: center;
    gap: 40px;
    text-align: center;
}

.slider-text .accent {
    color: var(--color-text-accent);
}

.slider-product {
    position: relative;
    width: 100%;
    border: none;
    overflow: hidden;
}

.slider-track {
    max-width: 480px;
    min-height: 640px;
    margin: 0 auto;
}

.slider-slide {
    display: none;
}

.slider-slide.is-active {
    display: block;
}

.slider-image {
    width: 100%;
}

.slider-title {
    margin-top: 20px;
}

.slider-desc {
    margin: 16px 0;
}

.slider-arrow-prev {
    position: absolute;
    top: 50%;
    left: 4px;
    transform: translateY(-50%);
    z-index: 1;
}

.slider-arrow-next {
    position: absolute;
    top: 50%;
    right: 4px;
    transform: translateY(-50%);
    z-index: 1;
}

@media (max-width: 768px) {
    .slider-arrow-prev {
        left: 0;
    }

    .slider-arrow-next {
        right: 0;
    }
}

@media (max-width: 380px) {
    .slider-track {
        max-width: 348px;
        min-height: 538px;
    }

    .slider-arrow-prev {
        display: none;
    }

    .slider-arrow-next {
        display: none;
    }
}

.slider-dots {
    display: flex;
    justify-content: center;
    gap: 12px;
}

.slider-dot {
    width: 40px;
    height: 4px;
    background-color: var(--color-border-primary);
    border-radius: 2px;
}

.slider-dot.is-active {
    background-color: var(--color-border-inverse);
}

/* About section styles */
.about {
    display: flex;
    flex-direction: column;
    gap: 40px;
}

.about-text .accent {
    color: var(--color-text-accent);
}

.about-gallery {
    display: flex;
    gap: 40px;
}

.about-gallery-column {
    display: flex;
    flex-direction: column;
    flex: 1;
    max-width: 660px;
    gap: 40px;
}

.about-image {
    display: block;
    width: 100%;
    object-fit: cover;
    border-radius: 40px;
}

.about-image-1,
.about-image-4 {
    height: 590px;
}

.about-image-2,
.about-image-3 {
    height: 430px;
}

@media (max-width: 768px) {
    .about-gallery {
        flex-direction: column;
    }

    .about-image-2,
    .about-image-3 {
        display: none;
    }
}

/* Footer section styles */
.footer {
    height: 450px;
    margin: 0 40px;
    background-color: var(--color-bg-container);
    border-radius: 40px;
}